# Django stuff:
*.log*
local_settings.py
db.sqlite3
*/migrations

# pycharm
.idea

# private backup
.tresorit

# dumps
dumps/nginx/*

# secrets
secrets/*.pem
secrets/*.crt
secrets/*.key
crypto_key.py
secret_key.py

# dummy files
!__init__.py
